* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

@font-face { 
  font-family: 'Open-Sans'; 
  src: url('../fonts/OpenSans.ttf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Open-Sans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-Bold.ttf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

header {
    width: 100%;
    height: 903px;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    display: block;
    width: 253px;
    position: absolute;
    top: 7%;
    left: 39.5%;
}

.banner-text {
    font-family: "Open-Sans", sans-serif;
    position: absolute;
    line-height: 220px;
    color: white;
    text-transform: uppercase;
    font-size: 34pt;
    top: 33%;
    left: 23.5%;
    letter-spacing: 1px;
}

.banner-text_bold {
    font-family: "Open-Sans-Bold", Arial;
    left: 13.6%;
    top: 26.2%;
    letter-spacing: 0.5px;
}

.CallTo {
    position: absolute;
    background-color: white;
    width: 314px;
    height: 314px;
    top: 60%;
    left: 36.7%;
    box-shadow: 0 0 8px gray;
}

.call-header,
.call-main,
.call-footer {
    width: 314px;
}

.call-header {
    background-color: ;
    height: 85px;
}

.enter {
    width: 232px;
    height: 32px;
    margin: 28px 30px;
    padding-left: 14px;
    letter-spacing: 0.8px;
    color: #B8AEAE;
    border: 1px solid #E6E6E6;
}

.call-main {
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    padding: 1px 0;
}

.call-main-img_1 {
    width: 62px;
    height: 39px;
}
.call-main-img_2 {
    width: 65px;
    height: 39px;
}
.call-main-img_3 {
    width: 50px;
    height: 39px;
}
.call-main-img_4 {
    width: 74px;
    height: 39px;
}
.call-main-img_5 {
    width: 63px;
    height: 39px;
}
.call-main-img_6 {
    width: 56px;
    height: 42px;
}
.call-main-img_7 {
    width: 67px;
    height: 42px;
}
.call-main-img_8 {
    width: 63px;
    height: 42px;
}
.call-main-img_9 {
    width: 63px;
    height: 42px;
}
.call-main-img_10 {
    width: 65px;
    height: 42px;
}

.call-footer {
    height: 146px;
}

.call-footer-text {
    font-family: "Open-Sans", Arial;
    text-align: center;
    font-size: 10.7pt;
    margin-top: 20px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #B1ACAC;
}

.call-footer-btn {
    width: 180px;
    height: 42.2px;
    background-color: #007ED7;
    text-transform: uppercase;
    color: #FFF;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.5s;
    margin: 23px 0 0 63px;
    font-size: 16.4pt;
}

.call-footer-btn:hover {
    background-color: #2F508E;
    transition: background-color 0.5s;
}

main {
    padding-top: 3px;
    width: 100%;
    height: 100%;
    padding-bottom: 273px;
}

.boxes {
    width: 100%;
    height: 215px;
    display: block;
}

.documents,
.photos {
    margin-left: 186px;
    display: inline-block;
    position: relative;
}

.doc-img {
    width: 90px;
    height: 113px;
}

.documents .text {
    position: absolute;
    width: 270px;
    height: auto;
    display: inline-block;
    left: 132%;
    top: 7.2%;
}

.photos .text {
    position: absolute;
    width: 270px;
    height: auto;
    display: inline-block;
    left: 125%;
    top: 10%;
}

.doc-heading,
.cam-heading {
    font-family: "Open-Sans", Arial;
    font-weight: 800;
    font-size: 20pt;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
}

.doc-heading {
    font-size:  18pt;
    letter-spacing: 2px;
}

.doc-paragraph,
.cam-paragraph {
    font-family: "Open-Sans";
    display: inline-block;
    font-size: 11pt;
    line-height: 22.7px;
}

.photos {
    margin-left: 344.7px;
}

.cam-img {
    width: 94px;
    height: 118px;
}

.this-head-top {
    background: url(../img/main/section/bg.png);
    width: 100%;
    height: 820px;
    position: relative;
}

.this-head_logo {
    position: absolute;
    width: 475px;
    top: 10%;
    left: 16%;
}

.this-head-top_title {
    position: absolute;
    font-family: "Open-Sans-Bold", Arial;
    font-size: 26pt;
    letter-spacing: 0.65px;
    top: 31.3%;
    left: 35.5%;
    color: white;
}

.this-head-top_paragraph {
    width: 600px;
    font-family: "Open-Sans", sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 39.5%;
    left: 23.98%;
    color: white;
    line-height: 22px;
}

.this-head-top_paragraph-indent {
    position: absolute;
    margin-top: 40px;
}

.this-head-bottom {

}

footer {
    width: 100%;
    height: 273px;
    background-color: #938D8D;
    position: absolute;
    bottom: 0;
}

.copyright {
    width: 100%;
    height: 50px;
    background-color: #41A06D;
    position: absolute;
    bottom: 0;
}

.copy-text {
    font-size: 14pt;
    color: #ECF3EF;
    text-align: center;
    margin: 18px 0;
}